body {
  background: url("http://s18.postimg.org/8utzpx2ux/unsplash.jpg") center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  font-family: 'Ubuntu', sans-serif;
  background-color: lightblue;

}

/*form {
  background: rgba(29, 31, 32, 0.95);
  max-width:500px;
  margin:40px auto;
  color:white;
  border-radius:10px;
}
*/
#header h2{
  text-align:center;
  font-size: 3.5em;
}

#header img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

img{
  width:45%;
  height:30%;
  margin-top:20px;
}

.instructions{
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3em;
    width: 50vw;
    margin-top: 3vh;
}

.instructions h3 {
    font-size: 1.3em;
}

#startButton{
  text-align:center;
 color:black;
 }

button{
  width:200px;
  height:50px;
  margin:0px 10px 25px 0px;
  border-radius:10px;
  background-color:blue;
  border:none;
  font-size:1.4em;
}

button:hover{
  background-color:#E0E0E0;
  color:black;
  font-weight:bold;
}

